<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% data.forEach((el)=> { %>
        <%= el.id %>
            <%= el.title %>
                <%= el.content %>
                    <img src="<%= el.image %>" alt="">
                    <%= el.view %>
                        <%= el.user_name %>
                            <button>삭제</button>
                            <% }) %>

</body>

</html>